#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    /*animation: spin 1s linear infinite;*/
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#headertext {
    margin-left: 7.5em;
}

body {
    background-color: #14213D;
}

/*.headbox {*/
/*    background: #6f2f2f;*/
/*    width: 100vw;*/
/*    border: solid white 2px;*/
/*    color: white;*/
/*    user-select: none;*/
/*}*/

h1 {
    font-weight: bold;
    color: #FCA311;
}

h3 {
    font-weight: bold;
    text-decoration: underline;
    color: #FCA311;
}

h4 {
    float: right;
}

/** {*/

/*    margin: auto;*/
/*}*/

#topCont {
    margin-left: 10em;
}

#loadingArea {
    margin-top: 50px;
    visibility: hidden;
}

.card {
    background: #14213D;
    border: none;
    float: left;
    margin-left: 3em;
}

#movieCards {
    margin-left: 50px;
}

hr {
    color: white;
}

form {
    clear: left;
}
button {
    display: flex;
    justify-content: center;
    margin: auto;
}

img {
    width: 300px;
    height: 444px;
}

img:hover {
    width: 100%;
    height: 120%;
    border: 3px solid #FCA311;
}

#hidden {
    visibility: hidden;
}

.deleteBtn {
    position: absolute;
    top: 0;
    left: 15.5em;
    background: transparent;
    color: red;
    font-weight: bold;
    /*visibility: hidden;*/
    border: none;
    font-size: large;

}

.hidden {
    display: none;
}

label {
    color: #FCA311;
}

nav {
    background-color: #FCA311;
}

a {
    color: #14213D;
    margin-left: 7.5em;
}

#form1 {
    margin-left: 7.5em;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: black; /* Black background color */
    color: #FCA311; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}