#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    /*animation: spin 1s linear infinite;*/
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

body {
    background-color: #cb6262;
}

* {

    margin: auto;
}

#loadingArea {
    margin-top: 50px;
    visibility: hidden;
}

.card {
    background: #cb6262;
    border: none;
    float: left;
}

hr {
    color: white;
}

form {
    clear: left;
}
button {
    display: flex;
    justify-content: center;
    margin: auto;
}

img {
    width: 300px;
    height: 444px;
}

#hidden {
    visibility: hidden;
}

.deleteBtn {
}